@import "base.css";

img.hero {
  margin: 40px auto;
  display: block;
  width: 512px;
  max-width: 90%;
}

h1 {
  font-size: 64px;
  margin-top: 64px;
}

h1, p {
  text-align: center;
  color: var(--c-raven);
}

p {
  line-height: 1.7;
}

a {
  color: var(--c-mauve);
  text-decoration: none;
}
