/* vars */

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round Regular'), local('VarelaRound-Regular'), url('/static/fonts/VarelaRound.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url('/static/fonts/SourceCodePro.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*!
 *  Based on Fork Awesome 1.2.0, originaly by Dave Gandy - http://forkawesome.github.io/Fork-Awesome/
 *  License - http://forkawesome.github.io/Fork-Awesome//license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: 'icons';
  src: url('/static/fonts/icons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

[data-icon]::before { content: attr(data-icon); }

[data-icon]::before, [class^="icon-"]::before, [class*=" icon-"]::before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  font-size: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-cog::before { content: "\f100"; }
.icon-discord::before { content: "\f101"; }
.icon-discord-alt::before { content: "\f102"; }
.icon-envelope::before { content: "\f103"; }
.icon-github::before { content: "\f104"; }
.icon-mastodon::before { content: "\f105"; }
.icon-matrix-org::before { content: "\f106"; }
.icon-slack::before { content: "\f107"; }
.icon-twitter::before { content: "\f108"; }

:root {
  --c-black: #000000;
  --c-raven: #222222;
  --c-smoke: #333333;
  --c-smoky: #444444;
  --c-storm: #30333c;
  --c-night: #433a4c;
  --c-slate: #777777;
  --c-dusty: #aaaaaa;
  --c-steam: #e8e8e8;
  --c-ghost: #f8f5ff;
  --c-bream: #e8e8e8;
  --c-cream: #f8f8f8;
  --c-white: #fefefe;
  --c-mauve: #6029a3;
  --c-phlox: #b9a4f4;
  --c-berry: #c0a0fa;
  --c-candy: #e6dafa;
  --c-lilac: #ebe5fc;
  --c-lapis: #d5e9f9;
  --c-amber: #f2506d;
  --c-rusty: #ff9505;
  --c-ocean: #44c3df;
  --c-mossy: #61c804;
  --c-honey: #c9c43d;
  --nav-height: 60px;
  --sidebar-size: 250PX;
  --sidebar-padding: calc((100vw - 960px - var(--sidebar-size)) / 2 + 20px);
  --sidebar-width: calc(var(--sidebar-padding) + var(--sidebar-size));
}

/* reset */

* {
  box-sizing: border-box;
}

body, h1, h2, h3, p, ul, ol, pre {
  margin: 0;
}

body {
  font-family: 'Varela Round';
  background: var(--c-white);
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

/* nav */

nav {
  display: flex;
  position: fixed;
  overflow: auto hidden;
  top: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  background: var(--c-storm);
  padding-left: var(--sidebar-padding);
  z-index: 10;
}

nav .logo {
  position: relative;
  display: inline-block;
  width: var(--sidebar-size);
}

nav .logo svg {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 13px;
  left: 0;
}

/* TODO ew */
nav .logo svg g {
  fill: rgba(255, 255, 255, .15);
}

nav .logo a {
  margin-left: 45px;
  line-height: var(--nav-height);
  display: inline-block;
  margin-top: 1px;
  font-size: 24px;
}

nav .logo a:hover span {
  color: var(--c-berry);
}

nav .logo a span {
  color: var(--c-steam);
  display: inline-block;
}

nav .links {
  margin-left: 40px;
  display: flex;
  flex: 1;
}

nav .links a {
  display: inline-block;
  font-size: 16px;;
  line-height: var(--nav-height);
  color: var(--c-steam);
  padding: 0 10px;
}

nav .links a[target="_blank"] {
  font-size: 0; /* TODO */
}

nav .links a:hover {
  color: var(--c-berry);
}

nav .links i::before {
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: var(--nav-height);
  cursor: pointer;
}

nav .links .spacer {
  display: inline-block;
  flex: 1;
}

/* sidebar */

.sidebar {
  position: fixed;
  top: var(--nav-height);
  bottom: 0;
  background: var(--c-lilac);
  overflow-y: scroll;
  padding-left: var(--sidebar-padding);
  padding-bottom: 20px;
  width: var(--sidebar-width);
}

.sidebar::-webkit-scrollbar {
  width: 9px;
}

.sidebar::-webkit-scrollbar-track {
  background: var(--c-ghost);
}

.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--c-phlox);
}

.sidebar .versions {
  display: none; /* TODO */
}

.sidebar input {
  display: none;
  width: 90%;
  margin-top: 20px;
  padding: 4px 8px;
  background: transparent;
  font-size: 16px;
  font-family: 'Varela Round';
  color: var(--c-raven);
  border: none;
  border-bottom: 2px var(--c-phlox) solid;
  outline: none;
}

.sidebar section.hidden {
  display: none;
}

.sidebar h2 {
  font-size: 20px;
  margin: 24px 0 10px;
  color: var(--c-smoke);
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar a {
  color: var(--c-mauve);
  display: block;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sidebar a.hidden {
  display: none;
}

.sidebar a.disabled {
  cursor: default;
  color: var(--c-slate);
}

.sidebar a:hover, .sidebar a.selected, .sidebar a:focus {
  background: linear-gradient(90deg, transparent, hsl(256deg 100% 87%));
}

.sidebar a:focus {
  outline: none;
}

.sidebar ul li.group {
  position: relative;
}

.sidebar ul li.group a {
  cursor: pointer;
  user-select: none;
}

.sidebar ul li.group ul {
  display: none;
}

.sidebar ul li.group li a {
  padding-left: 24px;
}

.sidebar ul li.group.open ul {
  display: block;
}

ul li.group:after {
  position: absolute;
  pointer-events: none;
  top: 8px;
  right: 11px;
  width: 4px;
  height: 4px;
  content: ' ';
  transform: rotate(-45deg);
  transform-origin: 2px 4px;
  border-left: 2px #8e69ff solid;
  border-bottom: 2px #8e69ff solid;
  transition: transform 100ms;
}

ul li.group.open:after {
  transform: rotate(135deg);
}

/* content */

main.docs {
  margin-left: var(--sidebar-width);
  margin-top: var(--nav-height);
}

.content {
  padding: 40px 50px;
  background: var(--c-white);
  width: 860px;
}

.content > *:last-child {
  margin-bottom: 0;
}

.content img {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

.content img.flat {
  box-shadow: none;
}

.content img.wide {
  max-width: 100%;
}

.content h1 {
  font-size: 28px;
  color: var(--c-smoke);
  margin-bottom: 20px;
}

.content h2 {
  font-size: 20px;
  color: var(--c-smoke);
  border-bottom: 2px var(--c-lilac) solid;
  padding-bottom: 4px;
  margin-top: 40px;
}

.content h3 {
  color: var(--c-smoky);
  font-size: 18px;
  font-weight: normal;
  margin: 25px 0 10px;
}

.content p {
  font-size: 16px;
  color: var(--c-raven);
  line-height: 1.5;
  margin: 20px 0;
}

.content p.muted {
  margin: 15px;
  color: var(--c-dusty);
  font-style: italic;
}

.content a {
  color: var(--c-mauve);
}

.content a:hover {
  text-decoration: underline var(--c-phlox) 2px;
}

.content blockquote {
  background: var(--c-lapis);
  border-radius: 8px;
  margin: 20px 0;
  padding: 16px;
}

.content blockquote p {
  margin: 0;
}

.content ul, .content ol {
  color: var(--c-raven);
  margin: 25px;
  padding: 0;
}

.content li ul {
  margin-top: 8px;
  margin-bottom: 8px;
}

.content li {
  font-size: 16px;
  line-height: 1.5;
}

.content hr {
  border: none;
  border-top: 2px var(--c-lilac) solid;
  margin: 20px 0;
}

.content table {
  margin: 15px 0;
  background: var(--c-ghost);
  border-spacing: 0;
  border-radius: 8px;
}

.content table:not(.signature) {
  padding: 8px;
}

.content table thead td {
  color: var(--c-slate);
}

.content table:not(.signature) td {
  padding: 4px 8px;
  border-bottom: none;
  border-right: none;
}

.content td {
  padding: 2px 8px;
  color: var(--c-raven);
  border-bottom: 1px var(--c-lilac) solid;
  border-right: 1px var(--c-lilac) solid;
  /*border-bottom: 1px var(--c-lilac) solid;*/
  padding: 6px 12px;
}

.content tr:first-child td:first-child { border-top-left-radius: 8px; }
.content tr:first-child td:last-child { border-top-right-radius: 8px; }
.content tr:last-child td:first-child { border-bottom-left-radius: 8px; }
.content tr:last-child td:last-child { border-bottom-right-radius: 8px; }

.content thead tr:first-child td:first-child { border-top-left-radius: 8px; }
.content thead tr:first-child td:last-child { border-top-right-radius: 8px; }
.content thead tr:last-child td:first-child { border-bottom-left-radius: 0; }
.content thead tr:last-child td:last-child { border-bottom-right-radius: 0; }

.content thead + tbody tr:first-child td:first-child { border-top-left-radius: 0; }
.content thead + tbody tr:first-child td:last-child { border-top-right-radius: 0; }
.content thead + tbody tr:last-child td:first-child { border-bottom-left-radius: 8px; }
.content thead + tbody tr:last-child td:last-child { border-bottom-right-radius: 8px; }

.content table.signature {
  margin-left: 15px;
}

.content table.signature thead td {
  font-size: 14px;
  border-radius: 0;
  background: var(--c-lilac);
}

.content table.signature td {
  /*border: 1px var(--c-lilac) solid;*/
}

.content table.signature td.pre {
  font-family: 'Source Code Pro';
  font-size: 15px;
}

.content table.signature td.boolean { color: var(--c-amber); }
.content table.signature td.number { color: var(--c-rusty); }
.content table.signature td.string { color: var(--c-ocean); }
.content table.signature td.table { color: var(--c-mossy); }
.content table.signature td.function { color: var(--c-honey); }

.content table.signature tr.indent-1 td:first-child { padding-left: 20px; }
.content table.signature tr.indent-2 td:first-child { padding-left: 35px; }
.content table.signature tr.indent-3 td:first-child { padding-left: 50px; }

.content code {
  font-family: 'Source Code Pro', monospace;
  color: var(--c-smoke);
  font-size: 14px;
  padding: 0 4px;
  background: var(--c-cream);
  border: 1px var(--c-bream) solid;
  border-radius: 6px;
  white-space: nowrap;
}

.content pre {
  margin: 15px 0;
  padding: 2px;
  overflow-x: auto;
}

.content pre code::-webkit-scrollbar {
  height: 7px;
}

.content pre code::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, .05);
}

.content pre code::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--c-phlox);
}

.content pre code {
  display: block;
  overflow-x: auto;
  background: var(--c-night);
  color: var(--c-cream);
  border-radius: 5px;
  border: none;
  padding: 16px;
  line-height: 1.25;
  letter-spacing: -.5px;
  font-size: 15px;
  width: 100%;
  white-space: pre;
}

.content pre code a {
  color: inherit;
}

.content pre .hljs-comment {
  color: var(--c-dusty);
}

.content pre .hljs-meta {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

.content pre .bash {
  color: var(--c-cream);
}

/* dark mode */

@media (prefers-color-scheme: dark) {
  :root {
    --c-black: #ffffff;
    --c-raven: #dedede;
    --c-smoke: #cdcdcd;
    --c-smoky: #bcbcbc;
    --c-storm: #181820;
    --c-night: #121114;
    --c-slate: #777777;
    --c-dusty: #aaaaaa;
    --c-steam: #e8e8e8;
    --c-ghost: #181820;
    --c-bream: #383848;
    --c-cream: #282838;
    --c-white: #202028;
    --c-mauve: #c090ff;
    --c-phlox: #6747c4;
    --c-berry: #c0a0fa;
    --c-candy: #e6dafa;
    --c-lilac: #303044;
    --c-lapis: #393f72;
    --c-amber: #f37b90;
    --c-rusty: #ffca83;
    --c-ocean: #78becd;
    --c-mossy: #d0ffa5;
    --c-honey: #fffdcb;
  }

  .sidebar a:hover, .sidebar a.selected, .sidebar a:focus {
    background: linear-gradient(90deg, transparent, hsl(256deg 44% 53%));
  }

  .content pre code, .content pre .bash {
    color: var(--c-raven);
  }
}

/* phones */

@media (max-width: 1210px) {
  :root {
    --sidebar-padding: 20px;
  }

  main.docs .content {
    width: 100%;
  }
}

/* Tomorrow Night Blue Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #7285b7;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-literal,
.hljs-deletion {
  color: #ff9da4;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-type,
.hljs-meta,
.hljs-link {
  color: #ffc58f;
}

/* Tomorrow Yellow */
.hljs-built_in,
.hljs-builtin-name,
.hljs-params,
.hljs-attribute {
  color: #ffeead;
}

/* Tomorrow Green */
.hljs-title,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #d1f1a9;
}

/* Tomorrow Blue */
.hljs-string,
.hljs-section {
  color: #bbdaff;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #ebbbff;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #002451;
  color: white;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
