$c-white: #ffffff;
$c-black: #000000;
$c-cream: #f8f8f8;
$c-steam: #e8e8e8;
$c-raven: #444444;
$c-smoke: #555555;
$c-smoky: #666666;
$c-lilac: #dbd2f0;
$c-mauve: #855aa8;
$c-slate: #808080;
$c-lapis: #d5e9f9;
$c-phlox: #ebe5fc;
