$c-white: #ffffff;
$c-black: #000000;
$c-cream: #f8f8f8;
$c-ghost: #efefef;
$c-steam: #e8e8e8;
$c-raven: #222222;
$c-smoke: #333333;
$c-smoky: #444444;
$c-lilac: #dbd2f0;
$c-mauve: #6832ab;
$c-slate: #777777;
$c-lapis: #d5e9f9;
$c-phlox: #ebe5fc;
$c-error: #cc4444;
$c-night: #433a4c;
$c-candy: #e6dafa;
$c-moody: #30333c;
$c-berry: #c0a0fa;
$c-dusty: #aaaaaa;
