main {
  flex: 1 0;
  padding: 40px 60px;
  position: relative;
  max-width: 700px;

  .content {
    position: absolute;
    animation: intro 250ms;
    padding-bottom: 40px;
    padding-right: 40px;
  }

  .content.outro {
    animation: outro 250ms;
  }

  @keyframes intro {
    from {
      opacity: 0;
      transform: translateX(-16px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes outro {
    from {
      opacity: 1;
      transform: translateX(0);
    }

    to {
      opacity: 0;
      transform: translateX(16px);
    }
  }

  h1, h2, h3, h4, h5, ul, li, p, pre {
    margin: 0;
    padding: 0;
  }

  h2 {
    margin-bottom: 20px;
    font-weight: normal;
    color: $c-lilac;
    font-size: 24px;
  }

  h3 {
    color: $c-lilac;
    font-size: 16px;
    margin-bottom: 16px;
    margin-top: 40px;
    font-weight: normal;
  }

  h4 {
    color: $c-lilac;
    font-size: 16px;
    font-weight: normal;
    margin: 20px 0 20px;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
  }

  code {
    font-family: "Inconsolata";
    font-size: 14px;
    color: $c-white;
    background: $c-raven;
    border: 1px rgba($c-white, .15) solid;
    border-radius: 2px;
    display: inline-block;
    color: $c-smoke;
    padding: 0 8px;
    background: rgba($c-raven, .5);
  }

  pre {
    margin: 24px 16px;

    code {
      background: $c-mauve;
      border-radius: 5px;
      border: 1px rgba($c-white, .08) solid;
      color: $c-white;
      padding: 8px;
    }
  }

  hr {
    border: none;
    border-top: 1px lighten($c-night, 8%) solid;
    margin: 20px 0;
  }

  ul {
    list-style-type: none;
  }

  li {
    font-size: 12px;
    margin-bottom: 6px;
    &:last-child { margin-bottom: 0; }

    code:first-child {
      margin-right: 8px;
      padding: 4px 8px;
    }
  }
}

.version {
  position: absolute;
  right: 20px;
  top: 20px;
  background: $c-black;
  color: $c-white;
  font-size: 14px;
  border-radius: 8px;
  text-align: center;
  padding: 8px 16px;
}
