@import "colors.scss";

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  background: $c-cream;
  border-bottom: 1px solid $c-steam;
  height: 60px;
  user-select: none;
  position: relative;
}

nav .links a {
  display: inline-block;
  font-size: 16px;;
  margin-right: 40px;
  height: 60px;
  line-height: 60px;
  text-decoration: none;

  &:hover {
    color: $c-black;
  }

  &:active {
    transform: translateY(1px);
  }
}

nav .logo {
  position: relative;
  float: left;
  padding-right: 30px;
}

nav .logo img {
  height: 35px;
  position: absolute;
  top: 12px;
  left: 20px;
}

nav .logo a {
  margin-left: 20px + 35px + 15px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  margin-top: 1px;
  font-size: 20px;
  text-decoration: none;

  &:hover {
    color: $c-raven;
  }

  span {
    display: inline-block;
  }

  &:active span {
    transform: translateY(1px);
  }
}

img.villain {
  margin-top: 90px;
  height: 135px;
}

main.index {
  text-align: center;
}

h1 {
  margin: 0;
  margin-top: 25px;
  font-weight: normal;
  font-size: 55px;
  color: $c-raven;
}

p {
  margin: 0;
  margin-top: 45px;
  color: $c-smoke;
  font-size: 18px;
}

.buttons {
  margin: 0 auto;
  margin-top: 45px;
  display: flex;
  width: 420px; // Blaze it
  justify-content: space-between;
}

.buttons a {
  background: $c-lilac;
  width: 190px;
  height: 70px;
  line-height: 70px;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  color: $c-smoke;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  border-bottom: 2px solid darken($c-lilac, 4%);

  &:active {
    background: darken($c-lilac, 5%);
    transform: translate(0, 2px);
  }
}
