@import "colors.scss";

nav {
  background: $c-cream;
  border-bottom: 1px solid $c-steam;
  height: 60px;
  user-select: none;
  position: relative;
  overflow: hidden;
}

nav .links {
  margin: 0 20px;
  display: flex;

  .spacer {
    flex: 1;
  }
}

nav .links a {
  display: inline-block;
  font-size: 16px;;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: $c-raven;
  padding: 0 20px;

  &:hover {
    color: $c-mauve;
  }

  &:active {
    transform: translateY(1px);
  }
}

nav .logo {
  position: relative;
  float: left;
  margin-right: 30px;
}

nav .logo svg {
  width: 32px;
  height: 30px;
  position: absolute;
  top: 14px;
  left: 20px;
}

nav .logo a {
  margin-left: 20px + 35px + 15px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  margin-top: 1px;
  font-size: 20px;
  text-decoration: none;

  &:hover span {
    color: $c-mauve;
  }

  span {
    color: $c-raven;
    z-index: 1;
    display: inline-block;
    &:active { transform: translateY(1px); }
  }
}
