@import "colors.scss";

nav {
  background: $c-moody;
  border-bottom: 2px $c-smoky solid;
  height: 60px;
  user-select: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  overflow-x: auto;
}

nav .links {
  margin: 0 20px;
  display: flex;

  .spacer {
    flex: 1;
  }
}

nav .links a {
  display: inline-block;
  font-size: 16px;;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  text-shadow: 1px 1px rgba(0, 0, 0, .75);
  color: $c-steam;
  padding: 0 20px;

  &:hover {
    color: $c-berry;
  }

  &:active {
    transform: translateY(1px);
  }
}

nav .logo {
  position: relative;
  float: left;
  margin-right: 30px;
}

nav .logo svg {
  width: 32px;
  height: 30px;
  position: absolute;
  top: 14px;
  left: 20px;

  g {
    fill: rgba(255, 255, 255, .15);
  }
}

nav .logo a {
  margin-left: 20px + 35px + 15px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  margin-top: 1px;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 1px 1px rgba(0, 0, 0, .75);

  &:hover span {
    color: $c-berry;
  }

  span {
    color: $c-cream;
    z-index: 1;
    display: inline-block;
    &:active { transform: translateY(1px); }
  }
}

@media(max-width: 720px) {
  nav .logo {
    margin-right: 20px;
  }

  nav .links {
    margin: 0 10px;
  }

  nav .links a {
    font-size: 14px;
    padding: 0 10px;
  }
}

@media(max-width: 540px) {
  nav .logo {
    margin-right: 0;
  }

  nav .logo a {
    margin-left: 60px;

    span {
      display: none;
    }
  }

  nav .links a {
    padding: 0 8px;
  }
}
