@import "colors.scss";

nav {
  background: $c-storm;
  position: fixed;
  height: 100%;
  width: 25%;
  min-width: 300px;
  border-right: 1px solid rgba(#fff, .05);
  padding: 20px 15px;

  .logo {
    color: $c-white;
    font-size: 40px;
    text-shadow: 1px 1px 2px rgba(#000, .5);
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 4px;
    background-size: 42px auto;
    padding-left: 54px;
    margin-bottom: 18px;
  }

  ul.sections {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 5px;

    > li {
      color: $c-lilac;
      font-size: 16px;
      margin-bottom: 8px;
    }
  }

  ul.subsection {
    list-style-type: none;
    padding: 0;
    margin: 8px 15px;

    li {
      color: $c-slate;
      font-size: 14px;
      padding: 4px 0;
    }
  }
}
