@import "colors.scss";

nav {
  .wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    background: $c-storm;
    border-right: 1px solid rgba(#fff, .05);
    padding: 20px 0;
    width: 300px;
    overflow-y: scroll;
  }

  flex: 0 0 300px;

  .logo {
    color: $c-white;
    font-size: 40px;
    text-shadow: 1px 1px 2px rgba(#000, .5);
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: 0 4px;
    background-size: 42px auto;
    padding-left: 54px;
    margin-left: 15px;
    margin-bottom: 18px;
  }

  ul.sections {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li:not(.disabled) {
      cursor: pointer;
      &:hover {
        background: $c-night;
      }
    }

    li.disabled {
      color: lighten($c-storm, 25%);
    }

    li.active, li.active:hover {
      background: darken($c-night, 3%);
      color: $c-white;
    }

    > li {
      padding-left: 20px;
      padding-top: 6px;
      padding-bottom: 6px;
      color: $c-lilac;
      font-size: 16px;
      &:not(:first-child) { margin-top: 24px; }
    }
  }

  ul.subsection {
    list-style-type: none;
    padding: 0;

    li {
      color: $c-slate;
      font-size: 14px;
      padding: 4px 0;
      padding-left: 20px;
    }

    &.indent li {
      padding-left: 40px;
    }
  }
}
