.sidebar {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
    height: 0;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .04);
    border-radius: 1px;
    &:hover {
      background: $c-lilac;
    }
  }

  ::-webkit-scrollbar-track {
    background: rgba($c-black, .03);
  }

  .wrapper {
    position: fixed;
    top: 60px;
    bottom: 0;
    background: $c-white;
    box-shadow: 1px 0 2px rgba($c-black, .1);
    padding-bottom: 20px;
    width: 310px;
    overflow-y: scroll;
    will-change: scroll-position;
  }

  flex: 0 0 310px;
}

.sidebar h2 {
  font-size: 16px;
  color: $c-raven;
  margin: 0;
  font-weight: normal;
  margin-top: 18px;
  margin-bottom: 8px;
  padding-left: 20px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar li {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: $c-mauve;
  font-size: 12px;
  cursor: pointer;
  &:not(.disabled) { transition: padding-left 180ms; }
  &:hover, &:focus { background: mix($c-lilac, $c-white, 25%); outline: none; }
  &.active { padding-left: 22px; color: $c-raven; }
  &:active, &.active { background: $c-phlox; }
  &:last-child { margin-bottom: 0; }
  &.disabled, &.disabled:hover {
    color: $c-slate;
    cursor: default;
  }
}

.sidebar input {
  display: none;
  margin-top: 20px;
  margin-left: 20px;
  padding: 4px;
  width: 200px;
  font-size: 14px;
  border: none;
  &, &:focus {
    outline: none;
    border-bottom: 2px $c-lilac solid;
  }
}
