@import "base.scss";
@import "colors.scss";
@import "nav.scss";
@import "progress.scss";
@import "fira-mono.scss";
@import "varela-round.scss";
@import "tomorrow-night-blue.scss";

.sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  z-index: 10;
  background: $c-white;
  border-right: 2px $c-ghost solid;
  padding-bottom: 20px;
  width: 310px;
  overflow-y: scroll;
  will-change: scroll-position;

  h2 {
    font-size: 16px;
    color: $c-raven;
    margin: 0;
    font-weight: normal;
    margin-top: 18px;
    margin-bottom: 8px;
    padding-left: 24px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: $c-mauve;
    font-size: 12px;
    cursor: pointer;
    border-left: 5px solid;
    border-left-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:hover, &:focus { background: mix($c-lilac, $c-white, 25%); outline: none; }
    &.active { color: $c-raven; border-left-color: $c-mauve; }
    &:active, &.active { background: $c-phlox; }
    &:last-child { margin-bottom: 0; }
    &.disabled, &.disabled:hover {
      color: $c-slate;
      cursor: default;
    }
  }

  input {
    display: none;
    margin-top: 20px;
    margin-left: 20px;
    padding: 4px;
    width: 200px;
    font-size: 14px;
    border: none;
    &, &:focus {
      outline: none;
      border-bottom: 2px $c-lilac solid;
    }
  }
}

main.docs {
  overflow-y: auto;
  margin-left: 310px;
  margin-top: 60px;

  .embed {
    display: none;
    position: relative;
    border: none;
    width: 100%;
    height: calc(55vw - 310px);
    min-height: 300px;
    max-height: calc(80vh - 60px);
    background: $c-steam;

    .progress {
      width: 50%;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background: $c-white;
      box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    }

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .content {
    width: 740px;
    max-width: 100%;
    padding: 40px 50px;
    will-change: transform, opacity;
    &.intro { animation: intro 200ms; }
    overflow-x: hidden;
  }

  @keyframes intro {
    from {
      opacity: 0;
      transform: translate3d(-8px, 0px, 0px);
    }

    to {
      opacity: 1;
      transform: translate3d(0px, 0px, 0px);
    }
  }

  a {
    color: $c-mauve;
    text-decoration: none;
    &:hover {
      color: $c-black;
    }
  }

  h1, h2, h3, h4, h5, ul, li, p, pre {
    margin: 0;
    padding: 0;
  }

  h1 {
    margin-bottom: 20px;
    font-weight: normal;
    color: $c-smoke;
    font-size: 28px;
  }

  h2 {
    color: $c-smoke;
    font-size: 18px;
    font-weight: normal;
    margin-top: 40px;
    padding-bottom: 6px;
    border-bottom: 2px $c-candy solid;
  }

  h3 {
    color: $c-smoky;
    font-size: 16px;
    font-weight: normal;
    margin: 25px 0 10px;
  }

  p {
    font-size: 15px;
    line-height: 1.7;
    margin: 25px 0;
  }

  img {
    margin: 10px auto;
    border-radius: 1px;
    max-width: 70%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    &.flat { box-shadow: none; }
  }

  code {
    &, * {
      font-family: "Fira Mono", monospace;
    }

    a {
      color: $c-raven;
      &[data-key] {
        color: $c-mauve;
        &:hover {
          color: $c-black;
        }
      }
    }

    color: $c-raven;
    font-size: 14px;
    border-radius: 3px;
    display: inline-block;
    padding: 0 2px;
  }

  pre {
    margin: 15px 0;
    padding: 2px;
    overflow-x: auto;

    code {
      background: $c-night;
      color: $c-cream;
      border-radius: 5px;
      padding: 16px;
      line-height: 20px;
      border: 2px $c-slate solid;
      font-size: 14px;
      letter-spacing: -.5px;
      width: 100%;

      a, a[data-key] {
        color: $c-white;
      }

      &:hover {
        a, a[data-key] {
          color: $c-white;
          border-bottom: 1px rgba($c-white, .3) dashed;

          &:hover {
            border-bottom: 1px rgba($c-white, .5) dashed;
          }
        }
      }

      .hljs-comment {
        color: $c-steam;
      }
    }
  }

  hr {
    border: none;
    border-top: 2px $c-candy solid;
    margin: 20px 0;
  }

  ul {
    margin: 15px 25px;
    list-style-type: circle;

    li {
      font-size: 14px;
      margin-bottom: 6px;
      &:last-child { margin-bottom: 0; }
      line-height: 1.5;

      code:first-child {
        margin-right: 8px;
        padding: 0 4px;
      }
    }
  }

  ol {
    margin-left: 10px;
    font-size: 14px;
    line-height: 1.25;
    margin: 12px 0;
    li {
      margin: 8px 0;
    }
  }

  table {
    margin: 15px 0;
    background: $c-white;
    border-collapse: collapse;

    td {
      font-size: 13px;
      padding: 4px 6px;

      &.pre, &.pre a {
        font-family: "Fira Mono";
      }

      &.pre a {
        color: $c-mauve;
        padding-top: 6px;
        padding-bottom: 6px;
        &:hover {
          color: $c-black;
        }
      }
    }
  }

  table, tr, td { border: 1px $c-steam solid; }

  blockquote {
    background: $c-lapis;
    padding: 16px;
    border-radius: 8px;
    border: 2px darken($c-lapis, 5%) solid;

    p {
      margin: 0;
      font-size: 14px;
    }
  }
}

@media(max-width: 960px) {
  .sidebar {
    width: 250px;

    h2 {
      padding-left: 14px;
    }

    li {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  main.docs {
    margin-left: 250px;

    .content {
      padding: 30px 40px;

      h1 {
        font-size: 26px;
      }
    }
  }
}

@media(max-width: 800px) {
  .sidebar {
    width: 220px;
  }

  main.docs {
    margin-left: 220px;

    .content {
      padding: 30px 30px;
    }

    table {
      td {
        padding: 4px;
      }
    }
  }
}

@media(max-width: 720px) {
  .sidebar {
    position: absolute;
    left: -310px;
  }

  main.docs {
    margin-left: 0;

    .content {
      padding: 30px 20px;
    }

    pre, blockquote {
      width: auto;
      margin-left: -20px;
      margin-right: -20px;
      border: none;
      border-radius: 0;
    }

    pre {
      padding: 0;

      code {
        width: 100%;
        border: none;
        border-radius: 0;
        padding: 12px 20px;
      }
    }
  }
}

@media(max-width: 480px) {
  main.docs {
    table, tbody, tr, td {
      display: block;
      border: none;
    }

    tr {
      border-bottom: 1px $c-steam solid;
    }
  }
}
