@import "colors.scss";

html, body, #canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: none;
  outline: none;
  background: $c-lilac;
  width: 125px;
  height: 50px;
  user-select: none;
  cursor: pointer;
  font-size: 18px;
  color: $c-smoky;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid darken($c-lilac, 4%);

  &:active {
    background: darken($c-lilac, 5%);
    transform: translate(0, 2px);
  }
}
