@import "docs.scss";
@import "progress.scss";

main.examples {
  .preview {
    display: none;
    position: relative;
    border: none;
    width: 100%;
    height: calc(55vw - 310px);
    min-height: 300px;
    max-height: calc(80vh - 60px);

    .progress {
      width: 50%;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      background: #fff;
      box-shadow: 0 0 4px rgba(0, 0, 0, .1);
    }

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  h1 + pre {
    margin: 0 0 24px 0;
  }

  .content.all {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: none;

    .tile {
      flex: 0 0 400px;
      margin: 10px;
      height: 300px;
      position: relative;
      background: $c-white;
      cursor: pointer;
      border-radius: 8px;

      &:active {
        transform: translateY(1px);
      }

      img {
        width: 400px;
        height: 300px;
        margin: 0;
        border-radius: 8px;
      }

      .title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($c-black, .25);
        padding: 6px;
        color: $c-cream;
        text-shadow: 0 1px rgba($c-black, .15);
        text-align: center;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }

      &:hover .title {
        background: rgba(0, 0, 0, .35);
        color: $c-white;
      }
    }
  }
}
