@import "base.scss";
@import "colors.scss";
@import "nav.scss";
@import "varela-round.scss";

main.index {
  padding-bottom: 40px;
  h1, h1 + p {
    text-align: center;
  }

  svg.logo {
    margin-top: 60px;
    height: 135px;
    pointer-events: none;
    width: 100%;
  }

  h2 {
    font-size: 36px;
    font-weight: normal;
  }

  .thirds {
    display: flex;
    margin-top: 70px;

    .third {
      margin-right: 40px;
      &:last-child { margin-bottom: 0; }

      h3 {
        font-size: 28px;
        font-weight: normal;
        margin: 0;
        margin-bottom: 15px;

        span {
          display: inline-block;
          font-size: 30px;
          vertical-align: middle;
          margin-right: 20px;
          pointer-events: none;
          user-select: none;
        }
      }

      p {
        margin: 0;
        font-size: 16px;
        line-height: 1.7;
      }

      flex-basis: 33%;
    }
  }

  @media(max-width: 1080px) {
    .thirds {
      flex-wrap: wrap;

      .third {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 30px;
        text-align: justify;
      }
    }
  }
}

.buttons {
  margin: 0 auto;
  margin-top: 45px;
  display: flex;
  width: 420px; // Blaze it
  justify-content: space-between;
}

.buttons a {
  background-color: #d4c8ee;
  background-image: linear-gradient(rgba($c-white, .4), rgba($c-white, 0));
  width: 190px;
  height: 70px;
  line-height: 70px;
  user-select: none;
  cursor: pointer;
  font-size: 20px;
  color: $c-smoke;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  border-bottom: 3px solid #bdb0ee;
  text-shadow: 0 1px 0 rgba($c-white, .5);

  &:hover {
    background-image: linear-gradient(rgba($c-white, .5), rgba($c-white, 0));
  }

  &:active {
    border-bottom: 0px;
    transform: translate(0, 3px);
  }
}
