@import "docs.scss";
@import "colors.scss";
@import "index.scss";

body {
  margin: 0;
  padding: 0;
  background: $c-cream;
}

* {
  font-family: "Varela Round", sans-serif;
  color: $c-smoke;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
