@import "base.scss";
@import "colors.scss";
@import "nav.scss";

main.play {
  margin-top: 140px;

  .wrapper {
    width: 1080px;
    height: 600px;
    overflow: hidden;
    border-radius: 8px;
    margin: 0 auto;

    iframe {
      width: 100%;
      height: 100%;
      border: 0;
      background: $c-white;
    }
  }
}
