@import "base.scss";
@import "colors.scss";
@import "nav.scss";
@import "progress.scss";
@import "varela-round.scss";

main.share {
  min-width: 960px;
  width: auto;
  text-align: center;
  padding-top: 60px;

  h1 {
    font-size: 40px;
    margin: 50px auto;
  }

  a {
    color: $c-mauve;
    text-decoration: none;

    &:hover {
      color: $c-black;
    }
  }
}

.drop {
  width: 1080px;
  height: 600px;
  margin: 0 auto;
  background: $c-white;
  border-radius: 16px;
  border: 6px dashed $c-lilac;
  font-size: 20px;
  color: $c-slate;
  position: relative;

  .message {
    &.error { color: $c-error; }
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }

  .progress {
    opacity: 0;
    transition: opacity 200ms;
    width: 30%;
    position: absolute;
    left: 0;
    right: 0;
    top: 75%;
    transform: translateY(-50%);
    span {
      width: 0;
    }
  }
}
