@import "base.scss";
@import "colors.scss";
@import "nav.scss";
@import "varela-round.scss";

main.share {
  min-width: 960px;
  width: auto;
  text-align: center;

  h1 {
    font-size: 40px;
    margin: 50px auto;
  }

  a {
    color: $c-mauve;
    text-decoration: none;

    &:hover {
      color: $c-black;
    }
  }
}

.drop {
  width: 1080px;
  height: 600px;
  margin: 0 auto;
  background: $c-white;
  border-radius: 16px;
  border: 6px dashed $c-lilac;
  font-size: 20px;
  color: $c-slate;
  position: relative;

  .message {
    &.error { color: $c-error; }
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }

  .progress {
    box-sizing: content-box;
    width: 30%;
    height: 20px;
    margin: 0 auto;
    padding: 6px;
    border-radius: 6px;
    box-shadow: 0 0 2px $c-steam inset;
    background-color: $c-cream;
    text-align: left;
    position: absolute;
    left: 0;
    right: 0;
    top: 75%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 200ms;

    span {
      display: inline-block;
      height: 100%;
      border-radius: 3px;
      box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
      transition: width 150ms;
      background-size: 30px 30px;
      background-color: $c-lilac;
      background-image: linear-gradient(
        135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
        transparent 75%, transparent
      );

      animation: progress 2s linear infinite;
      @keyframes progress {
        0% { background-position: 0 0; }
        100% { background-position: 60px 0; }
      }
    }
  }
}
